#ifndef TELESCOPE
#  define TELESCOPE 0
#endif
#if TELESCOPE == 0
   TELESCOPE_THETA=20.00 
   TELESCOPE_PHI=0.00 

% Global and default configuration for things missing in telescope-specific config.
#  include <CTA-ULTRA6-LST.cfg>

#elif TELESCOPE == 1
#  include <CTA-ULTRA6-LST.cfg>
   TELESCOPE_THETA=17.90
   TELESCOPE_PHI=5.67

#elif TELESCOPE == 2
#  include <CTA-ULTRA6-LST.cfg>
   TELESCOPE_THETA=23.07
   TELESCOPE_PHI=4.18

#elif TELESCOPE == 3
#  include <CTA-ULTRA6-LST.cfg>
   TELESCOPE_THETA=22.17
   TELESCOPE_PHI=355.66

#elif TELESCOPE == 4
#  include <CTA-ULTRA6-LST.cfg>
   TELESCOPE_THETA=22.17
   TELESCOPE_PHI=355.66

#elif TELESCOPE == 5
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=23.07
   TELESCOPE_PHI=4.18

#elif TELESCOPE == 6
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=23.07
   TELESCOPE_PHI=4.18

#elif TELESCOPE == 7
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=22.17
   TELESCOPE_PHI=355.66

#elif TELESCOPE == 8
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=23.07
   TELESCOPE_PHI=4.18

#elif TELESCOPE == 9
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=17.90
   TELESCOPE_PHI=5.67

#elif TELESCOPE == 10
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=16.98
   TELESCOPE_PHI=353.98

#elif TELESCOPE == 11
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=16.98
   TELESCOPE_PHI=353.98

#elif TELESCOPE == 12
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=17.90
   TELESCOPE_PHI=5.67

#elif TELESCOPE == 13
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=16.98
   TELESCOPE_PHI=353.98

#elif TELESCOPE == 14
#  include <CTA-ULTRA6-MST-NectarCam.cfg>
   TELESCOPE_THETA=17.90
   TELESCOPE_PHI=5.67
#else
   Error Invalid telescope for CTA-ULTRA6 La Palma configuration.
#endif
trigger_telescopes = 2 % In contrast to Prod-3 South we apply loose stereo trigger immediately
array_trigger = array_trigger_ultra6_diver-test.dat
